{% extends 'base.html' %}
{% block content %}
<div class="row row-flex">
  
    {% for strain in strains %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-md-4 display panel panel-default">
        <div class="panel-body" id="pb">
            <div class="strain" style="background-image: url('{{MEDIA_URL}}{{strain.image}}')"></div>

            <h3>{{ strain.name }}</h3>
            <p>{{ strain.straintype }}</p>
            <img src="/media/images/mac.png" class="img-responsive">
            <p class="strain-description">{{ strain.description }}</p>

                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn-btn-success" type="submit">Add to strainDex</button>
                    </span>
                </div> 
            </form>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}